<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.gemoc.execution.sequential.javaengine.ui.launcher">
<booleanAttribute key="Event Scheduling Execution Reflective Tracing" value="true"/>
<intAttribute key="GEMOC_ANIMATE_DELAY" value="0"/>
<booleanAttribute key="GEMOC_LAUNCH_BREAK_START" value="true"/>
<stringAttribute key="GEMOC_LAUNCH_INITIALIZATION_ARGUMENTS" value=""/>
<stringAttribute key="GEMOC_LAUNCH_INITIALIZATION_METHOD" value="org.modelexecution.operationalsemantics.gemoc.sequential.dynamic_allinecore.ActivityAspect.initializeModel"/>
<stringAttribute key="GEMOC_LAUNCH_SELECTED_LANGUAGE" value="org.modelexecution.operationalsemantics.gemoc.sequential.xdsml.ActivityDiagram"/>
<stringAttribute key="LAUNCH_METHOD_ENTRY_POINT" value="public static void org.modelexecution.operationalsemantics.gemoc.sequential.dynamic_allinecore.ActivityAspect.main(activitydiagram.Activity)"/>
<stringAttribute key="LAUNCH_MODEL_ENTRY_POINT" value="test1"/>
<booleanAttribute key="Open Event Scheduling Timeline view" value="false"/>
<booleanAttribute key="Open Multidimentional Timeline view" value="false"/>
<stringAttribute key="Resource" value="/ad_sequential_tests/gemoc-gen/execution/execution-20151022_171227/test1.ad"/>
<booleanAttribute key="VCD visualization" value="false"/>
<booleanAttribute key="activitydiagramTrace Addon" value="false"/>
<stringAttribute key="airdResource" value="/ad_sequential_tests/model/test1.aird"/>
</launchConfiguration>
