<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.modelexecution.operationalsemantics.ad.design.Activator"
               id="org.modelexecution.operationalsemantics.ad.design"
	       name="ad">
    </component>
  </extension>
</plugin>
