<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.xdsml">
    <XDSML_Definition codeExecutor_class="xad_sequential.xdsml.api.impl.Xad_sequentialCodeExecutor" modelLoader_class="org.gemoc.gemoc_language_workbench.extensions.sirius.modelloader.DefaultModelLoader" name="xad_sequential" solver_class="org.gemoc.gemoc_language_workbench.extensions.k3.K3Solver" xdsmlFilePath="/org.modelexecution.operationalsemantics.gemoc.sequential.xdsml/project.xdsml" />
  </extension>
</plugin>
