<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated events -->
      <package
            uri="http://www.example.org/events"
            class="events.EventsPackage"
            genModel="model/events.genmodel"/>
   </extension>

</plugin>
